<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Stadistics</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <img class="Image-Working" src="../../../assets/img/working-page.png" alt="" >
</ion-content>
