<input type="text" class="form-control"  style="margin-bottom: 15px;" placeholder="Search">  
<button class="btn btn-primary" (click)="nuevo(modalStadistic)"><i class="fa fa-add"></i> Agregar</button>
<table class="table">
  <thead>
    <tr>
      <td>Id</td>
      <td>Hours</td>
      <td>RightClicks</td>
      <td>Shared</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let stadistic of stadistics">

      <td>
            <b><span style="color: #74a044; font-style: italic;">{{stadistic.id}}</span> </b> 
      </td>
      <td>
        <strong>  {{stadistic.hours}} </strong>
      </td>
      <td>
        <strong>  {{stadistic.rightClicks}} </strong>
      </td>
      <td>
        <strong>  {{stadistic.sheared}} </strong>
      </td>
      <td>
        <button class="btn btn-success" (click)="editar(stadistic, modalStadistic)" style="margin-right: 1em;"> <i class="fa fa-edit"></i> </button>
        <button class="btn btn-danger" (click)="delete(stadistic, modalStadistic)"> <i class="fa fa-times"></i> </button>
      </td>
    </tr>
  </tbody>
</table>


<ng-template #modalStadistic let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Stadistics</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

      <div class="mb-3">
          <label>Hours</label>
          <input type="text" [(ngModel)]="stadistic.hours"  class="form-control">
    </div>
    <div class="mb-3">
          <label>RightClicks</label>
          <input type="number" [(ngModel)]="stadistic.rightClicks"  class="form-control">
    </div>
    <div class="mb-3">
          <label>Shared</label>
          <input type="number" [(ngModel)]="stadistic.sheared"  class="form-control">
    </div>
    </div> 

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="add()">Guardar</button>
  </div>
</ng-template>
