
<button class="btn btn-primary" (click)="nuevo(modalPost)"><i class="fa fa-add"></i> Agregar</button>
  <table class="table">
    <thead>
      <tr>
        <td>Id</td>
        <td>Title</td>
        <td>Category</td>
        <td>Author</td>
        <td>Starts</td>
        <td style="text-align: center;">Content</td>
        <td></td>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let post of posts">

        <td>
          <b><span style="color: #74a044; font-style: italic;">{{post.id}}</span> </b> 
        </td>
        <td>
          <strong>  {{post.title}} </strong>
        </td>
        <td>
          {{post.category}}
        </td>
        <td>
          {{post.admin}}
        </td>
        <td>
          {{post.rate}}
        </td>
        <td style="text-align: center;">
          {{post.contents}}
        </td>
        <td>
          <button class="btn btn-success" (click)="editar(post, modalPost)" style="margin-bottom: 1em;"> <i class="fa fa-edit"></i> </button>
          <button class="btn btn-danger" style="width: 78px;"> <i class="fa fa-times"></i> </button>
        </td>
      </tr>
    </tbody>
  </table>


  <ng-template #modalPost let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Post</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">

        <div class="mb-3">
            <label>Title</label>
            <input type="text" [(ngModel)]="post.title"  class="form-control">
        </div>
        <div class="mb-3">
              <label>Content</label>
              <input type="text" [(ngModel)]="post.contents" class="form-control">
        </div>
        <div class="mb-3">
            <label>Category</label>
            <input type="number" [(ngModel)]="post.idCategory"  class="form-control">
      </div>
      <div class="mb-3">
            <label>Admin</label>
            <input type="number" [(ngModel)]="post.idAdministrator"  class="form-control">
      </div>
      </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="agregar()">Guardar</button>
    </div>
  </ng-template>

