

<div>
    <div class="public-footer">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="widget" style="background-color: black; color: white;">
                        <div class="footer-text text-center">
                            <a href="index.html"><img src="../../../../../assets/images/gooDev1.png" alt="" width="130px">
                                <div style="margin-top: 23px;">
                                    <span style="color: white; font-size: 80px;">
                                        <strong>GooDev</strong>
                                    </span>
                                </div>
                            </a>
                            <span style="color: white;">Lorem ipsum dolor sit, amet consectetur adipisicing, elit. Debitis vitae laudantium sequi fugit cum, quis, a sint excepturi reprehenderit exercitationem hic dicta. Laudantium, accusamus quis corporis aliquam consectetur perferendis. Recusandae!</span>
                            <div class="social">
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Facebook"><i class="fa fa-facebook"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Twitter"><i class="fa fa-twitter"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Instagram"><i class="fa fa-instagram"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Google Plus"><i class="fa fa-google-plus"></i></a>
                                <a href="#" data-toggle="tooltip" data-placement="bottom" title="Pinterest"><i class="fa fa-pinterest"></i></a>
                            </div>
                            <hr class="invis">
                            <div class="newsletter-widget text-center">
                                <form class="form-inline">                                    <input type="text" class="form-control" placeholder="Enter your email address">
                                    <button type="submit" class="btn btn-primary">Subscribe <i class="fa fa-envelope-open-o"></i></button>
                                </form>
                            </div><!-- end newsletter -->
                        </div><!-- end footer-text -->
                    </div><!-- end widget -->
                </div><!-- end col -->
            </div>
            <div class="row">
                <div class="col-md-12 text-center">
                    <br>
                    <br>
                </div>
            </div>
        </div><!-- end container -->
    </div><!-- end footer -->
    <div class="dmtop">Scroll to Top</div>
</div>