.splash-logo{
    text-align: center;
    padding: 80px 0 0 0;
    min-height: 160px;
    z-index: 2;
  }
  
  .splash-logo img {
    max-width: 180px;
  }
  .gif-conteiner img{
    padding-bottom: 15px;
    z-index: 1;
  }
  .letters-splash{
    display: flex;
    position: relative;
    justify-content: center;
    text-align: center;
    width: 100%;
    z-index: 1;
  }