<ion-header>
  <ion-toolbar color="success">
    <ion-title>Welcome!!!</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="splash-logo">
    <img src="assets/img/gooDev4.png" alt="Logo">
  </div>
  <div class="gif-conteiner">
    <img class="letters-splash" src="assets/GooDevfast.gif" alt="GooDev logo">
  </div>


</ion-content>

