<header></header>
<div class="form-signin" style="margin-top: 150px; margin-bottom: 300px;">
  <img class="img-fluid" src="../../../assets/images/gooDev5.png" alt="">
  <h1 class="h3 mb-3 font-weight-normal" style="text-align: center;">Login</h1>
  <label for="inputEmail" class="sr-only">Usuario</label>
  <input type="email" id="inputEmail" class="form-control" placeholder="Usuario" required="" autofocus="" [(ngModel)]="usuario.usuario">
  <label for="inputPassword" class="sr-only">Password</label>
  <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="" [(ngModel)]="usuario.password">

  <label style="color:red">{{error}}</label>
  <button class="btn btn-lg btn-primary btn-block" type="button" (click)="login()">Iniciar sesión</button>
</div>
<app-public-footer></app-public-footer>