<div class="row">
  <div class="col-md-4">
      <div class="profile-img">
          <img src="https://gitlab.com/CalubSama/goodev/-/raw/development/design/logos/gooDev2.png" alt=""/>
          <div class="file btn btn-lg btn-primary">
              Change Photo
              <input type="file" name="file"/>
          </div>
      </div>
  </div>
  <div class="col-md-6">
      <div class="profile-head">
                  <h5>
                      Caleb Terán
                  </h5>
                  <h6>
                      Administrator
                  </h6>
                  <p class="proile-rating">Posts : <span>8</span></p>
          <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                  <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">About</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Timeline</a>
              </li>
          </ul>
      </div>
  </div>
  <div class="col-md-2">
      <input type="submit" class="profile-edit-btn" name="btnAddMore" value="Edit Profile"/>
  </div>
</div>
<div class="row">
  <div class="col-md-4">
      <div class="profile-work">
          <p>WORK LINK</p>
          <a href="">Option1</a><br/>
          <a href="">Option2</a><br/>
          <a href="">Option3</a>
          <p>Other Category</p>
          <a href="">Option4</a><br/>
          <a href="">Option5</a><br/>
          <a href="">Option6</a><br/>
          <a href="">Option7</a><br/>
          <a href="">Option8</a><br/>
      </div>
  </div>
  <div class="col-md-8">
      <div class="tab-content profile-tab" id="myTabContent">
          <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                      <div class="row">
                          <div class="col-md-6">
                              <label>User Id</label>
                          </div>
                          <div class="col-md-6">
                              <p>001</p>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                              <label>Name</label>
                          </div>
                          <div class="col-md-6">
                              <p>Caleb Teran</p>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                              <label>Email</label>
                          </div>
                          <div class="col-md-6">
                              <p>Jehuteran@gmail.com</p>
                          </div>
                      <div class="row">
                          <div class="col-md-6">
                              <label>Phone</label>
                          </div>
                          <div class="col-md-6">
                              <p>6623536630</p>
                          </div>
                      </div>
          </div>
          <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">

          </div>
      </div>
  </div>
</div>
