<ion-header>
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Posts</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Posts</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list *ngFor="let post of posts">
      <ion-card>
        <ion-card-header  >
          <ion-card-subtitle>{{post.admin}}</ion-card-subtitle>
          <ion-card-title>{{post.title}}</ion-card-title>
        </ion-card-header>
        <ion-card-content>{{post.category}}</ion-card-content>
        <ion-card-content>  
          {{post.contents}}
        </ion-card-content>
        <ion-card-content>
          Rate: {{post.rate}} <ion-icon color="warning" name="star"></ion-icon>
        </ion-card-content>
        <ion-card-content>
          <ion-button  (click)="modify(post.id)" routerLink="/app/tabs/posts/post-details/{{post.id}}" >
            <ion-icon slot="start" name="create"></ion-icon>
            Modify
          </ion-button>
          <ion-button (click)="delete(post.id)" color="danger"> 
            Delete
            <ion-icon slot="start"  name="trash"></ion-icon>
          </ion-button>
        </ion-card-content>          
      </ion-card>
  </ion-list>
    <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
      <ion-fab-button routerLink="/app/tabs/posts/post-details/0">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
</ion-content>
