

<section>
    <section class="section first-section">
        <div class="container-fluid">
            <div class="masonry-blog clearfix">
                <div class="left-side">
                    <div class="masonry-box post-media">
                        <img src="https://picsum.photos/id/180/412/361" alt="" class="img-fluid">
                        <div class="shadoweffect">
                            <div class="shadow-desc">
                                <div class="blog-meta">
                                    <span class="bg-aqua"><a href="../../../../../assets/upload/blog-category-01.html" title="">GooDev</a></span>
                                    <!-- <h4><a href="garden-single.html" title="">How to choose high quality soil for your gardens</a></h4>
                                        <small><a href="garden-single.html" title="">21 July, 2017</a></small>
                                        <small><a href="#" title="">by Amanda</a></small> -->
                                </div><!-- end meta -->
                            </div><!-- end shadow-desc -->
                        </div><!-- end shadow -->
                    </div><!-- end post-media -->
                </div><!-- end left-side -->
                <div class="center-side">
                    <div class="masonry-box post-media">
                        <img src="https://picsum.photos/id/201/412/361" alt="" class="img-fluid">
                        <div class="shadoweffect">
                            <div class="shadow-desc">
                                <div class="blog-meta">
                                    <span class="bg-info"><a href="../../../../../assets/upload/blog-category-01.html" title="">Legacy</a></span>
                                    <!-- <h4><a href="garden-single.html" title="">You can create a garden with furniture in your home</a></h4>
                                        <small><a href="garden-single.html" title="">19 July, 2017</a></small>
                                        <small><a href="#" title="">by Amanda</a></small> -->
                                </div><!-- end meta -->
                            </div><!-- end shadow-desc -->
                        </div><!-- end shadow -->
                    </div><!-- end post-media -->
                </div><!-- end left-side -->
                <div class="right-side hidden-md-down">
                    <div class="masonry-box post-media">
                        <img src="https://picsum.photos/id/24/412/361" alt="" class="img-fluid">
                        <div class="shadoweffect">
                            <div class="shadow-desc">
                                <div class="blog-meta">
                                    <span class="bg-aqua"><a href="../../../../../assets/blog-category-01.html" title="">New!</a></span>
                                    <!--   <h4><a href="garden-single.html" title="">The success of the 10 companies in the vegetable sector</a></h4>
                                        <small><a href="garden-single.html" title="">03 July, 2017</a></small>
                                        <small><a href="#" title="">by Jessica</a></small> -->
                                </div><!-- end meta -->
                            </div><!-- end shadow-desc -->
                        </div><!-- end shadow -->
                    </div><!-- end post-media -->
                </div><!-- end right-side -->
            </div><!-- end masonry -->
        </div>
    </section>

    <section class="section wb">
        <div class="container">
            <div class="row">
                <div class="col-lg-9 col-md-12 col-sm-12 col-xs-12">
                    <div class="page-wrapper">
                        <div class="blog-list clearfix">
                            <div  *ngFor="let post of posts"  class="blog-box row" style="margin-bottom: 5%; margin-right: 5%;">
                                <div class="col-md-4">
                                    <div class="post-media">
                                        <a href="garden-single.html" title="">
                                            <img  src="https://picsum.photos/id/{{post.id}}/530/530" alt="" class="img-fluid">
                                            <div class="hovereffect"></div>
                                        </a>
                                    </div><!-- end media -->
                                </div><!-- end col -->

                                <div  class="blog-meta big-meta col-md-8">
                                    <h3>{{post.title}}</h3>
                                    <p>{{post.contents}}</p>
                                    <small><a href="garden-category.html" title=""><i class="fa fa-eye"></i> 1887</a></small>
                                    <small><a href="garden-single.html" title="">11 July, 2017</a></small>
                                    <small><a href="#" title="" >by {{post.admin}}</a></small>
                                </div><!-- end meta -->
                                <hr>
                            </div><!-- end blog-box -->

                            <hr class="invis">

  
                        </div><!-- end blog-list -->
                    </div><!-- end page-wrapper -->

                    <div class="row">
                        <div class="col-lg-10 offset-lg-1">
                            <div class="banner-spot clearfix">
                                <div class="banner-img">
                                    <img src="https://wordstream-files-prod.s3.amazonaws.com/s3fs-public/images/media/images/persuasive-ads-coca-cola.jpg" alt="" class="img-fluid">
                                </div><!-- end banner-img -->
                            </div><!-- end banner -->
                        </div><!-- end col -->
                    </div><!-- end row -->

                    <hr class="invis">

                    <div class="row">
                        <div class="col-md-12">
                            <nav aria-label="Page navigation">
                                <ul class="pagination justify-content-start">
                                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div><!-- end col -->
                    </div><!-- end row -->
                </div><!-- end col -->

                <div class="col-lg-3 col-md-12 col-sm-12 col-xs-12">
                    <div class="sidebar">
                        <div class="widget">
                            <h2 class="widget-title">Search</h2>
                            <form class="form-inline search-form">
                                <div class="form-group">
                                    <input type="text" class="form-control" placeholder="Search on the site">
                                </div>
                                <button type="submit" class="btn btn-primary"><i class="fa fa-search"></i></button>
                            </form>
                        </div><!-- end widget -->

                        <div class="widget">
                            <h2 class="widget-title">Recent Posts</h2>
                            <div class="blog-list-widget">
                                <div class="list-group">
                                    <a href="garden-single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="w-100 justify-content-between">
                                            <img src="../../../../../assets/upload/garden_sq_09.jpg" alt="" class="img-fluid float-left">
                                            <h5 class="mb-1">5 Beautiful buildings you need to before dying</h5>
                                            <small>12 Jan, 2016</small>
                                        </div>
                                    </a>

                                    <a href="garden-single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="w-100 justify-content-between">
                                            <img src="../../../../../assets/upload/garden_sq_06.jpg" alt="" class="img-fluid float-left">
                                            <h5 class="mb-1">Let's make an introduction for creative life</h5>
                                            <small>11 Jan, 2016</small>
                                        </div>
                                    </a>

                                    <a href="garden-single.html" class="list-group-item list-group-item-action flex-column align-items-start">
                                        <div class="w-100 last-item justify-content-between">
                                            <img src="../../../../../assets/upload/garden_sq_02.jpg" alt="" class="img-fluid float-left">
                                            <h5 class="mb-1">Did you see the most beautiful sea in the world?</h5>
                                            <small>07 Jan, 2016</small>
                                        </div>
                                    </a>
                                </div>
                            </div><!-- end blog-list -->
                        </div><!-- end widget -->

                        <div class="widget">
                            <h2 class="widget-title">Advertising</h2>
                            <div class="banner-spot clearfix">
                                <div class="banner-img">
                                    <img src="https://i.pinimg.com/originals/64/d0/2b/64d02baf5ab0ca725d493dee762dc0b7.jpg" alt="" class="img-fluid">
                                </div><!-- end banner-img -->
                            </div><!-- end banner -->
                        </div><!-- end widget -->

                        <div class="widget">
                            <h2 class="widget-title">Instagram Feed</h2>
                            <div class="instagram-wrapper clearfix">
                                <a href="#"><img src="https://source.unsplash.com/random" alt="" class="img-fluid"></a>
                                <a href="#"><img src="https://source.unsplash.com/collection/190727/1600x900" alt="" class="img-fluid"></a>
                                <a href="#"><img src="https://source.unsplash.com/collection/190726/1600x900" alt="" class="img-fluid"></a>
                                <a href="#"><img src="https://source.unsplash.com/collection/190725/1600x900" alt="" class="img-fluid"></a>
                                <a href="#"><img src="https://source.unsplash.com/collection/190723/1600x900" alt="" class="img-fluid"></a>
                                <a href="#"><img src="https://source.unsplash.com/collection/1991/1600x900" alt="" class="img-fluid"></a>
                                <a href="#"><img src="https://source.unsplash.com/collection/971/1600x900" alt="" class="img-fluid"></a>
                                <a href="#"><img src="https://source.unsplash.com/collection/1945/1600x900" alt="" class="img-fluid"></a>
                                <a href="#"><img src="https://source.unsplash.com/collection/1070/1600x900" alt="" class="img-fluid"></a>
                            </div><!-- end Instagram wrapper -->
                        </div><!-- end widget -->

                        <div class="widget">
                            <h2 class="widget-title">Popular Categories</h2>
                            <div class="link-widget">
                                <ul *ngFor="let category of categories">
                                    <li><a href="http://localhost:4200/category/">{{category.name}}    [{{category.id}}]</a></li>
                                </ul>
                            </div><!-- end link-widget -->
                        </div><!-- end widget -->
                    </div><!-- end sidebar -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section>
</section>
