<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="category">
      <ion-icon name="bookmarks-outline"></ion-icon>
      <ion-label>Categories</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="posts">
      <ion-icon name="reader-outline"></ion-icon>
      <ion-label>Posts</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="map">
      <ion-icon name="stats-chart-outline"></ion-icon>
      <ion-label>Stadistics</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="about">
      <ion-icon name="information-circle"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
