
<div style="margin-top: 180px; margin-bottom: 180px;">
        <hr class="invis">
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <form class="form-wrapper">
                    <input type="text" class="form-control" placeholder="Your name">
                    <input type="text" class="form-control" placeholder="Email address">
                    <input type="text" class="form-control" placeholder="Password">
                    <input type="text" class="form-control" placeholder="Confirm Password">
                    <button type="submit" class="btn btn-primary">Register</button>
                </form>
            </div>
        </div>
</div><!-- end page-wrapper -->