
<button class="btn btn-primary" (click)="nuevo(modalCategory)"><i class="fa fa-add"></i> Agregar</button>
<table class="table">
  <thead>
    <tr>
      <td>Id</td>
      <td>Name</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories">

      <td>
        <b><span style="color: #74a044; font-style: italic;">{{category.id}}</span> </b> 
      </td>
      <td>
        <strong>  {{category.name}} </strong>
      </td>
      <td>
        <button class="btn btn-success" (click)="editar(category, modalCategory)" style="margin-right: 1em;"> <i class="fa fa-edit"></i> </button>
        <button class="btn btn-danger" (click)="delete(category, modalCategory)"> <i class="fa fa-times"></i> </button>
      </td>
    </tr>
  </tbody>
</table>


<ng-template #modalCategory let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Post</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">

      <div class="mb-3">
          <label>Name</label>
          <input type="text" [(ngModel)]="category.name"  class="form-control">
    </div>
    </div> 

  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="agregar()">Guardar</button>
  </div>
</ng-template>

