
<section>
    <section class="section wb">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="page-wrapper">
                        <div class="row">
                            <div class="col-lg-4">
                                <h4>Who we are</h4>
                                <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nulla facere nam voluptatibus voluptas dolorem id nobis quos laudantium velit quod, fugiat voluptatem quisquam similique! Quasi aperiam eum qui asperiores, magnam!</p>
                            </div>
                            <div class="col-lg-4">
                                <h4>How we help?</h4>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit possimus facilis quisquam at earum autem corrupti in dolorum, excepturi sint corporis aut cumque suscipit vero eveniet. Quae culpa, adipisci expedita? </p>
                            </div>
                            <div class="col-lg-4">
                                <h4>Pre-Sale Question</h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quidem nobis hic suscipit, vero ad dolores obcaecati in doloribus labore molestias autem voluptatum rem? Neque aliquam vero iure delectus? Nihil, voluptates.</p>
                            </div>
                        </div><!-- end row -->
                        <hr class="invis">
                        <div class="row">
                            <div class="col-lg-8 offset-lg-2">
                                <form class="form-wrapper">
                                    <input type="text" class="form-control" placeholder="Your name">
                                    <input type="text" class="form-control" placeholder="Email address">
                                    <input type="text" class="form-control" placeholder="Phone">
                                    <input type="text" class="form-control" placeholder="Subject">
                                    <textarea class="form-control" placeholder="Your message"></textarea>
                                    <button type="submit" class="btn btn-primary">Send <i class="fa fa-envelope-open-o"></i></button>
                                </form>
                            </div>
                        </div>
                    </div><!-- end page-wrapper -->
                </div><!-- end col -->
            </div><!-- end row -->
        </div><!-- end container -->
    </section>
</section>
