<ion-content class="speaker-detail">
  <ion-header class="ion-no-border">
    <ion-toolbar color="success">
      <ion-buttons slot="start">
        <ion-back-button defaultHref="/app/tabs/speakers"></ion-back-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="speaker-background">
    <img src="../../../assets/img/gooDev2.png" >
    <h2>CalebTD</h2>
  </div>
  <ion-card >
    <ion-card-header>
      <ion-card-title>Add New Post</ion-card-title>
    </ion-card-header>
   <div style="padding-left: 10%; padding-top: 10%; font-size: 15px; font-weight: bold;">
    <ion-label  color="success">Title</ion-label>
    <ion-input type="text" [(ngModel)]="postInput.title"></ion-input><br>
    <ion-label color="success" >Category</ion-label>
      <ion-select type="number" [(ngModel)]="postInput.idCategory">
        <ion-select-option *ngFor="let category of categories; let i = index" [attr.data-index]="i" value="{{category.id}}">
          <ion-input>{{i+1}}.-</ion-input>
          {{category.name}}
        </ion-select-option>
      </ion-select>
      <ion-label color="success">Content</ion-label>
      <ion-textarea type="text" [(ngModel)]="postInput.contents" ></ion-textarea><br>
      <ion-label color="success" >Admin</ion-label>
      <ion-input  type="number" [(ngModel)]="postInput.idAdministrator"></ion-input><br>
      <ion-label color="success">Rate</ion-label>
      <ion-input  type="text" [(ngModel)]="postInput.rate" ></ion-input><br>
    </div>
    <ion-button  color="success" (click)="add()">Create</ion-button>
  </ion-card>

</ion-content>
