<ion-content>
  <ion-header class="ion-no-border">
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button (click)="presentPopover($event)">
          <ion-icon slot="icon-only" ios="ellipsis-horizontal" md="ellipsis-vertical"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <div class="about-header">
    <!-- Instead of loading an image each time the select changes, use opacity to transition them -->
    <div class="about-image " [ngStyle]=" {'opacity': '1'}">
      <img src="../../../assets/img/appicon.png" alt="">
    </div>
  </div>

  <div class="about-info">
    <h3 class="ion-padding-top ion-padding-start">About</h3>

    <p class="ion-padding-start ion-padding-end">
      This is a MobileApp Created with ionic5 in the template of conference, this app use some APIS in dotnet core3.1 , and this be created for a schoolar proyect for the class of "Integradora" where i created a mobile and web version of a blog. <br>I´m Caleb Teran FullStack Dev. From Hermosillo Sonora.
    </p>

    <h3 class="ion-padding-top ion-padding-start">SocialMedia</h3>

    <ion-list lines="none">
      <ion-item>
        <ion-label>
          Email
        </ion-label>
        <ion-label class="ion-text-end">
          JehuTeran@gmail.com
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Linkedin
        </ion-label>
        <ion-label>
          https://www.linkedin.com/in/calebtd/
        </ion-label> 
      </ion-item>
    </ion-list>

    <h3 class="ion-padding-top ion-padding-start">Profile</h3>

    <ion-list lines="none">
      <ion-item>
        <ion-label>
          Dev.Role
        </ion-label>
        <ion-label class="ion-text-end">
          FullStack Web Developer
        </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>
          Repo.
        </ion-label>
        <ion-label class="ion-text-end">
          https://gitlab.com/CalubSama
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
