<ion-header translucent="true">
  <ion-toolbar color="success">
    <ion-buttons *ngIf="!showSearchbar" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-segment *ngIf="ios" [(ngModel)]="segment" (ionChange)="updateSchedule()">
      <ion-segment-button value="all">
        All Categories
      </ion-segment-button>
    </ion-segment>
    <ion-title *ngIf="!ios && !showSearchbar">Categories</ion-title>
    <ion-searchbar *ngIf="showSearchbar" showCancelButton="always" [(ngModel)]="queryText" (ionChange)="updateSchedule()" (ionCancel)="showSearchbar = false" placeholder="Search"></ion-searchbar>
    <ion-buttons slot="end">
      <ion-button *ngIf="!ios && !showSearchbar" (click)="showSearchbar = true">
        <ion-icon slot="icon-only" name="search"></ion-icon>
      </ion-button>
      <ion-button *ngIf="!showSearchbar" (click)="presentFilter()">
        <span *ngIf="ios">Filter</span>
        <span *ngIf="!ios">
          <ion-icon slot="icon-only" name="options"></ion-icon>
        </span>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <ion-toolbar *ngIf="!ios">
    <ion-segment [(ngModel)]="segment" (ionChange)="updateSchedule()">
      <ion-segment-button value="all">
        All
      </ion-segment-button>
    </ion-segment>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Schedule</ion-title>
    </ion-toolbar>
    <ion-toolbar>
      <ion-searchbar [(ngModel)]="queryText" (ionChange)="updateSchedule()" placeholder="Search"></ion-searchbar>
    </ion-toolbar>
  </ion-header>

  <ion-list #scheduleList>
    <ion-item-sliding *ngFor="let category of categories">
      <ion-item >
        <ion-icon name="bookmarks-outline"></ion-icon>
        <ion-input (keyup.enter)="add()" [(ngModel)]="category.name" class="cat-input" disabled="{{disabledInput}}" type="text" placeholder="{{category.name}}">
          <h3>&nbsp;&nbsp;&nbsp; </h3>
        </ion-input>
      </ion-item>
      <ion-item-options>
        <ion-item-option color="primary" (click)="modify(true)" *ngIf="segment === 'all' ">
          Modify
        </ion-item-option>
        <ion-item-option color="danger" (click)="delete(category.id)" *ngIf="segment === 'all'">
          Delete
        </ion-item-option>  
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

  <ion-list-header [hidden]="shownSessions > 0">
    No Categories Found
  </ion-list-header>

    <ion-fab slot="fixed" vertical="bottom" horizontal="end" #fab>
      <ion-fab-button (click)="add()">
        <ion-icon name="add-outline"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <div class="add-new-cat">
      <ion-input [(ngModel)]="category.name"> Add Category: </ion-input>
    </div>
</ion-content>
